<!DOCTYPE html>
<html>
<head>
    <title>Sảnh chờ</title>
</head>
<body style="background:#111;color:white;font-family:sans-serif">

    <h2>Xin chào: {{ username }}</h2>
    <p>Role: {{ role }}</p>

    <h1>🎮 SẢNH CHỜ</h1>

    <form action="/create-room" method="post">
        <button>Tạo phòng</button>
    </form>

    <hr>

    {% for room in rooms %}
        <div style="border:1px solid #444;padding:15px;margin:10px 0;">
            <h3>Room {{ room.id }}</h3>
            <p>Người chơi: {{ room.players|length }}/{{ room.max }}</p>
            <p>Danh sách: {{ room.players }}</p>

            <form action="/join-room/{{ room.id }}" method="post">
                <button>Vào phòng</button>
            </form>
        </div>
    {% endfor %}

</body>
</html>
